.about-container{
    display: flex;
    flex-direction: row;
}
@media only screen and  (max-width:768px){
    .about-image{
        width:50%

    }
    .about-container{
        display: flex;
        flex-direction: column;
    }
}